<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Scrabble</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/scrabble/chart">Chart</a>
        <a href="/scrabble/score">Score</a>
      </nav>
    </header>
    <h2><%= title %></h2>

    

    <a href="/scrabble/score">Submit A New Word</a>

  </body>
</html>
